<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>Session-8, Assignment-2</h1>
        <br>
        <div class="form form-group">
          <!-- Input field for name imparting two-way data flow using ngModel -->
          <input type="text" id="nm" placeholder="Person Name" class="form-control" [(ngModel)]="personName" #pnm>
          <br>
          <!-- Input field for age imparting two-way data flow using ngModel -->
          <input type="number" id="ag" placeholder="Person Age" class="form-control" [(ngModel)]="personAge" #age>
          <br>
          <!-- Button that calls service functions and ultimately shows data input in table -->
          <button class="btn btn-primary btn-block" (click)="addPerson(personName,personAge)">Add to Table</button>
        </div>

        <!-- Conditional display of table based on length of input array -->
        <div *ngIf="personArr.length > 0">
          <!-- Display table that is part of child component -->
          <app-person [personDetail]="personArr"></app-person>
        </div>
      </div>
    </div>
  </div>
</div>
